.monish_row{
    height: 200px;
    border:4px dashed red;
}
.monish_row > div{
    height: 100%;
    border:1px dashed #000;
}
.monish2_row{
    height: 100px;
    border:2px dashed purple;
}
.monish2_row > div{
    height: 100%;
    border:2px dashed orange;
}

.monish3_row{
    height: 100px;
    border:1px dashed blue;
}
.monish3_row > div:first-child{
    height: 100%;
    background-color:purple;

}
.monish3_row > div:nth-child(2){
    height: 100%;
    background-color:burlywood;

}
.monish3_row > div:nth-child(3){
    height: 100%;
    background-color:rgb(116, 226, 43);

}
.monish3_row > div:nth-child(4){
    height: 100%;
    background-color:darkred;

}
.monish3_row > div:nth-child(5){
    height: 100%;
    background-color:red;

}
.monish4_row{
    height: 100px;
    border:1px dashed rgb(255, 0, 0);
}
.monish4_row > div:first-child{
    height: 100%;
    background-color:red;

}
.monish4_row > div:nth-child(2){
    height: 100%;
    background-color:#000;

}
.monish4_row > div:nth-child(3){
    height: 100%;
    background-color:darkblue;
}
.monish4_row > div:nth-child(4){
    height: 100%;
    background-color:yellow;

}
.monish5_row{
    height: 100px;
    border:1px dashed #000;
}
.monish5_row > div:first-child{
    height: 100%;
    background-color:#000;
}
.monish5_row > div:nth-child(2){
    height: 100%;
    background-color:yellow;

}
.monish5_row > div:nth-child(3){
    height: 100%;
    background-color:red;

}
.monish5_row > div:nth-child(4){
    height: 100%;
    background-color:blue;
}
.monish5_row > div:nth-child(4){
    height: 100%;
    background-color:green;

}
.monish5_row > div:nth-child(5){
    height: 100%;
    background-color:darkmagenta;

}
.monish6_row{
    height: 100px;
    border:1px dashed #000;
}
.monish6_row > div:first-child{
    height: 100%;
    background-color:#000;

}
.monish6_row > div:nth-child(2){
    height: 100%;
    background-color:green;

}
.monish6_row > div:nth-child(3){
    height: 100%;
    background-color:darkblue;

}
.monish6_row > div:nth-child(4){
    height: 100%;
    background-color:purple;

}
.monish6_row > div:nth-child(5){
    height: 100%;
    background-color:blueviolet;

}
.monish6_row > div:last-child{
    height: 100%;
    background-color:yellow;

}